article {
  display: grid;
  grid-row-gap: 10px;
  border: 3px solid rgb(170, 130, 97);
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 1em;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 250;
  word-wrap: break-word;
}

article:hover{
  box-shadow: 8px 8px #0532ad86;
}


.tweet-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

article > .tweet-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.user-tweeter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

article > p {
  display: flex;
  opacity: 0.8;
  justify-content: space-between;
}


.ownerOfTweet {
  opacity: 0.5;
}

.tweetText {
  word-break: break-word;
  border-bottom: 2px solid black;
  margin: 5px 5px;
  font-style: oblique;
  
}

.tweetTime {
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 70%;
}


.icons i {  
  color: #4056A1;
}
.icons i:hover {
  color: #ff5e00;
}